
.menuPrincipal .header{
  background-color: #398989;
  align-items: center;
}
menu{
  background-color: #398989;
}
table{
  width: 100%;
}
menu img{
  width: 250px;
  height: 190px;
  align-self: center;
}
body{
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  }
  h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  }
  .btn {display: inline-block;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
    color: #fff;
    background-color: rgb(255, 217, 217);
    border-color: rgb(255, 217, 217);
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-indent: 0px;
    text-shadow: none;
    align-items: flex-start;
  }

 .btn :hover{
  background-color: rgb(253, 193, 193);
 }

.imgs{
  position: relative;
    width: 230px;
    height: 290px;
}
.fotos table{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color:  whitesmoke;
}
.fotos img{
  margin: 5%;
}
.fotos p{
  text-align: left;
  margin-left: 5%;
  margin-right: 10%;

}
  .container{
    margin: auto;
    background-color: #adadad;
    width: 800px;
    padding: 30px;
  }
  
  ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  ul.slider{
    position: relative;
    width: 800px;
    height: 300px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:rgb(247, 217, 234);
  }
  
  ul.slider li img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  
  .menu{
    text-align: center;
    margin: 20px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    display: inline-block;
    color: rgb(146, 146, 146);
    text-decoration: none;
    background-color: rgb(255, 217, 217);
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
  }
  main {
    background-color: whitesmoke;

  }
.footer{
  background-color: #398989;
}
.footer p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}
.amigos table img{
  margin-left: 22% ;
  width: 200px;
  height: 150px;
}
.amigos table p  {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}
.nosotros img{
  margin-left: 25%;
  margin-right: 25%;
}
.nosotros p{ 
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contacto form{
 text-align: center;
}
.contacto {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .adoptar {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .contacto form{
  text-align: center;
 }